/* Base reset and layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: var(--bg-main);
    color: var(--text-dark);
}

.container {
    display: flex;
}
